*{
    margin: auto;
}
header{
    background-color: #ffffff;
    color:#335384;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    margin-bottom: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0, 0.05);
}
.moedas{
    display: flex;
    justify-content: space-around;
}
.container{
    width: 80%;
}
.container h1{
    text-align: center;
}