*{
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
}

header{
    background-color: #ffffff;
    color:#335384;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    margin-bottom: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0, 0.05);
}
.moedas{
    display: flex;
    justify-content: space-around;
}
.moedas select{
    margin-right: 20px;
    margin-left: 20px;
    color: #335384;
}
.moeda{
    border-radius: 100px;
}
.container{
    width: 80%;
}
.container h1{
    text-align: center;

}
.valor{
    margin-top: 30px;
    text-align: center;
}
.valor input{
    text-align: center;
    border-color: rgb(22, 235, 22);
    border-radius: 100px;
    color: #335384;
    font-size:x-large;
}
.atualizar{
    display: flex;
    justify-content: center;
    margin-top: 50px;

}
canvas{
    width: 70%;
}
