<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="icon" href="{{ url_for('static', filename='images/currencyexchange.jpg') }}" type="image/x-icon">
    <title>Câmbio moedas estrangeiras</title>
</head>
<body>
    <header>
        <h1>Câmbio de moedas</h1>
    </header>
    <div class="container">
        {% if mensagem %}
            <div class="alert alert-danger" role="alert">
                {{ mensagem }}
            </div>
        {% endif %}
        <!--Seleção das moedas e período para busca das informações-->
        <form id="formBusca" action="/buscarcotacao" method="POST" class="">
            <div class="moedas alinhamento-central">
                <select name="moeda1" id="moeda1" class="form-select moeda moeda-select" aria-label="Default select example" style="width: 300px; text-transform: uppercase; border: solid 2px #335384; border-radius: 100px; font-weight: 900;">
                    <option value="USD" {% if moeda1 == 'USD' %} selected {% endif %}>Dólar Americano</option>
                    <option value="CAD" {% if moeda1 == 'CAD' %} selected {% endif %}>Dólar Canadense</option>
                    <option value="AUD" {% if moeda1 == 'AUD' %} selected {% endif %}>Dólar Australiano</option>
                    <option value="EUR" {% if moeda1 == 'EUR' %} selected {% endif %}>Euro</option>
                    <option value="GBP" {% if moeda1 == 'GBP' %} selected {% endif %}>Libra Esterlina</option>
                    <option value="ARS" {% if moeda1 == 'ARS' %} selected {% endif %}>Peso Argentino</option>
                    <option value="CHF" {% if moeda1 == 'CHF' %} selected {% endif %}>Franco Suíço</option>
                    <option value="BRL" {% if moeda1 == 'BRL' %} selected {% endif %}>Real</option>
                </select>
                <img src="{{ url_for('static', filename='images/Exchange.png') }}" alt="Cambio" width="50px">
                <select name="moeda2" id="moeda2" class="form-select moeda moeda-select" aria-label="Default select example" style="width: 300px; text-transform: uppercase; border: solid 2px #335384; border-radius: 100px; font-weight: 900;">
                    <option value="BRL" {% if moeda2 == 'BRL' %} selected {% endif %}>Real</option>
                    <option value="USD" {% if moeda2 == 'USD' %} selected {% endif %}>Dólar Americano</option>
                    <option value="EUR" {% if moeda2 == 'EUR' %} selected {% endif %}>Euro</option>
                    
                </select>
                
            </div>
        
            <!--Valor Base-->
            <div class="valor">
                <label style="text-transform: uppercase; color: #335384; font-size: large">Valor base: </label>
                <input type="text" name="valorbase" id="valorbase" value="{{ cifrabase }} {{ valorbase }}" onkeydown="atualizaPagina(event)">
            </div>
            <!--Valor Convertido-->
            <div class="valor">
                <label style="text-transform: uppercase; color: #335384; font-size: large">Valor convertido: </label>
                <input type="text" value="{{ cifra }} {{ valormoeda }}">
            </div>
            <select name="periodo" id="periodo" class="form-select moeda moeda-select" aria-label="Default select example" style="width: 150px; text-transform: uppercase; border: solid 2px #335384; border-radius: 100px; font-weight: 900;">
                <option value="30" {% if periodo == '30' %} selected {% endif %}>1 mês</option>
                <option value="90" {% if periodo == '90' %} selected {% endif %}>3 meses</option>
                <option value="180" {% if periodo == '180' %} selected {% endif %}>6 meses</option>
                <option value="365" {% if periodo == '365' %} selected {% endif %}>1 ano</option>
            </select> 
        </form>
        <!--Gráfico-->
        <div class="grafico">
            <canvas id="myChart"></canvas>
        </div>
         
        
        
    </div>
    

    <script>
        // Script para montagem do gráfico e exibição das informações
		var labels = {{ labels | tojson }};
		var data = {{ data | tojson }};

		var ctx = document.getElementById('myChart').getContext('2d');
		var chart = new Chart(ctx, {
		    type: 'line',
		    data: {
		        labels: labels,
		        datasets: [{
		            label: 'Variação do Câmbio',
		            data: data,
		            backgroundColor: 'rgba(255, 99, 132, 0.2)',
		            borderColor: 'rgba(255, 99, 132, 1)',
		            borderWidth: 1
		        }]
		    },
		    options: {
                responsive: true, // Torna o gráfico responsivo
                maintainAspectRatio: false, // Permite que o gráfico se ajuste ao tamanho da tela
		        scales: {
		            yAxes: [{
		                ticks: {
		                    beginAtZero: true,
                            suggestedMax: 10 // Valor máximo sugerido para o eixo y
		                }
		            }]
		        }
		    }
		});

        // Atualiza os valores na alteração da moeda selecionada
        document.getElementById("moeda1").onchange = function() {
          document.querySelector("form").submit();
        };
        document.getElementById("moeda2").onchange = function() {
          document.querySelector("form").submit();
        };
        // Atualiza o gráfico conforme período selecionado
        document.getElementById("periodo").onchange = function() {
          document.querySelector("form").submit();
        };

    
        //Atualiza a página ao digitar um novo valorbase para calculo da conversão
        function atualizaPagina(event) {
            if (event.key === 'Enter') {
                var moeda1 = document.getElementById("moeda1").value;
                var moeda2 = document.getElementById("moeda2").value;
                var periodo = document.getElementById("periodo").value;
                var valorBase = document.getElementById("valorbase").value;
                var form = document.getElementById("formBusca");
                form.action = "/buscarcotacao"; // Define a rota para /buscarcotacao
                form.method = "POST";
                form.submit();
            }

            
        }
	</script>  
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>