<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Câmbio moedas estrangeiras</title>
</head>
<body>
    <header>
        <h1>Câmbio de moedas</h1>
    </header>
    <div class="container">
        {% if mensagem %}
            <div class="alert alert-danger" role="alert">
                {{ mensagem }}
            </div>
        {% endif %}
        
        <form action="/buscarcotacao" method="POST" class="moedas">
            <div class="moedas">
                <select name="moeda1" id="moeda1" class="form-select moeda" aria-label="Default select example" style="width: 300px; text-transform: uppercase; border: solid 2px #335384; border-radius: 100px; font-weight: 900;">
                    <option value="USD" {% if moeda1 == 'USD' %} selected {% endif %}>Dólar Americano</option>
                    <option value="CAD" {% if moeda1 == 'CAD' %} selected {% endif %}>Dólar Canadense</option>
                    <option value="AUD" {% if moeda1 == 'AUD' %} selected {% endif %}>Dólar Australiano</option>
                    <option value="EUR" {% if moeda1 == 'EUR' %} selected {% endif %}>Euro</option>
                    <option value="GBP" {% if moeda1 == 'GBP' %} selected {% endif %}>Libra Esterlina</option>
                    <option value="ARS" {% if moeda1 == 'ARS' %} selected {% endif %}>Peso Argentino</option>
                    <option value="CHF" {% if moeda1 == 'CHF' %} selected {% endif %}>Franco Suíço</option>
                    <option value="BRL" {% if moeda1 == 'BRL' %} selected {% endif %}>Real</option>
                </select>
                <img src="{{ url_for('static', filename='images/Exchange.png') }}" alt="Cambio" width="50px">
                <select name="moeda2" id="moeda2" class="form-select moeda" aria-label="Default select example" style="width: 300px; text-transform: uppercase; border: solid 2px #335384; border-radius: 100px; font-weight: 900;">
                    <option value="BRL" {% if moeda2 == 'BRL' %} selected {% endif %}>Real</option>
                    <option value="USD" {% if moeda2 == 'USD' %} selected {% endif %}>Dólar Americano</option>
                    <option value="EUR" {% if moeda2 == 'EUR' %} selected {% endif %}>Euro</option>
                    
                </select>
                <!--<input type="submit" value="Calcular" class="btn btn-primary">-->   
            </div>
           
            
        </form>

        <div class="valor">
            <label style="text-transform: uppercase; color: #335384; font-size: large">Valor base: </label>
            <input type="text" value="{{ cifrabase }} 1.00">
        </div>

        <div class="valor">
            <label style="text-transform: uppercase; color: #335384; font-size: large">Valor convertido: </label>
            <input type="text" value="{{ cifra }} {{ valormoeda }}">
        </div>
       
       
        <canvas id="myChart"></canvas> 
        
    </div>
    

    <script>
		var labels = {{ labels | tojson }};
		var data = {{ data | tojson }};

		var ctx = document.getElementById('myChart').getContext('2d');
		var chart = new Chart(ctx, {
		    type: 'line',
		    data: {
		        labels: labels,
		        datasets: [{
		            label: 'Variação do Câmbio',
		            data: data,
		            backgroundColor: 'rgba(255, 99, 132, 0.2)',
		            borderColor: 'rgba(255, 99, 132, 1)',
		            borderWidth: 1
		        }]
		    },
		    options: {
		        scales: {
		            yAxes: [{
		                ticks: {
		                    beginAtZero: true
		                }
		            }]
		        }
		    }
		});
	</script>
 
    <script>
        document.getElementById("moeda1").onchange = function() {
          document.querySelector("form").submit();
        };
        document.getElementById("moeda2").onchange = function() {
          document.querySelector("form").submit();
        };
      </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>